<p id="notice"><%= notice %></p>

<h1>Galatic Clusters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galatic_clusters.each do |galatic_cluster| %>
      <tr>
        <td><%= link_to 'Show', galatic_cluster %></td>
        <td><%= link_to 'Edit', edit_galatic_cluster_path(galatic_cluster) %></td>
        <td><%= link_to 'Destroy', galatic_cluster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galatic Cluster', new_galatic_cluster_path %>
